body {
    font-family: sans-serif, serif;
    background-color: rgba(20,165,68,1);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button:hover
{
    cursor: pointer;
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 4px dashed rgba(255,255,255,.8);
    padding: 0px 5px 25px 5px;
    font-size: 2.5em;
    position: relative;
    color: white;
    background-color: inherit;
}

#temperatureWell {
    font-weight: bold;
}

#sumbit1 {
        width: 20%;
}

@media screen and (min-width: 1024px) { /* Pour les PCs */
    #information,#future {
         float: left;
         border-width: 5px; 
         border-style: solid;
         border-radius: 15px;
         margin-left: 2%;
         position: absolute;
         width: 25%;
         padding-left: 2%;
         padding-bottom: 3px;
         background-color: inherit;
    }
    
    #information {
        border-color: red;
    }
    
   h2 {
        font-weight: normal;
        font-size: 1,2em;
        display: block;
        margin: 10px auto 5px auto;
    }
    
    #information ul {
        list-style-type: none;
        display: inline-block;
        margin: 10px auto 5px -40px;
    }
    
    #information li {
        margin-right: -70px;
    }
    
    #future {
        clear: both;
        margin-top: 190px;
        border-color: blue;
    }
    
    #future input[type='radio'],input[type='checkbox'],input[type='button']:hover {
        cursor: pointer;
    }
    
    #future thead td {
        display: inline-block;
    }
    
    #future tfoot,tbody {
        display: none
    }
    
    canvas {
        float: right;
    }
    
    #curve {
        margin-right: 20%;
    }
    
    #thermometer {
        margin-right: 40%;
    }
    
    #choiceDate {
        clear: both;
        float: right;
        position: relative;
        top: 40%;
    }
    
}

@media screen and (max-width: 1000px) { /* Pour les mobiles */
    h1 {
        font-size: 4em;
        border-bottom-width: 12px;
    }
    
    h2 {
        font-size: 2.5em;
        border-bottom: solid 6px crimson;
        color: maroon;
        text-indent:3%;
    }
    
    #information {
        margin: 5% 0 5% 0;
    }
    
    #information ul {
        list-style-type: none;
        display: flex;
    } 
    
    #information li {
        margin-right: 20px;
        font-size: 1.8em
    }
    
    #thermometer {
        margin-left: 10%;
        width: 60%;
    }
    
    #future {
        width: 100%;
        display: block;
    }
    
    #future label,input[type='number'] {
        display: flex;
        font-size: 2em;
    }
    
    #future #sumbit1 {
        width: 200px;
        clear: both;
        position: relative;
        bottom: 150px;
        margin-right: 30%;
        float: right;
    }
    
    #future thead,tbody {
        display: none;
    }
    
    #future input[type='button'] {
        display: block;
        font-size: 2.5em;
        font-weight: bold;
        width: 100px;
        height: 100px;
        margin-right: 40%;
    }
    
    #future label[for='font'] {
        font-size: 2.5em;
        margin-right: 20%;
    }
}


